@import '../abstract/variaveis';

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem;
    .box{
        margin-bottom: 1.5rem;
        .box-imagem {
            width: 500px;
        }
    }
    .box-texto {
        text-align: center;
        margin: 2rem;
        h3 {
            font-size: $tamanho-do-texto / 1.5;
            color: $cor-primaria;
            margin-bottom: 0.7rem;
        }
        h4 {
            font-size: $tamanho-do-texto / 2;
            color: $cor-secundaria;
            margin-bottom: 1rem;
        }
        p {
            font-size: $tamanho-do-texto /2.5;
            color: rgb(41, 41, 41);
            font-weight: 400;
        }
    }
}